<div class="card">

  <div class="card-header">
    <h4 class="card-title">Saludo</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="userName">Nombre</label>
      <input type="text" [(ngModel)]="usuario"
        class="form-control" name="userName" id="userName"  placeholder="">
    </div>
    <p class="card-text">Text</p>
    <button (click)="btnBorrar($event)">Borrar</button>
  </div>
  <div class="card-footer text-muted">
    {{ idioma == 'es' ? 'Hola' : 'Hello' }}
     {{ usuario.toUpperCase() }}, eres el número {{ 2 + 2}}
  </div>
</div>
