<div class="container">
  <nav class="row">
    <ul class="col nav nav-pills">
      <li class="nav-item nav-link">
        <a class="nav-link" routerLinkActive="active" routerLink="home">Inicio</a>
      </li>
      <li class="nav-item nav-link">
        <a class="nav-link" routerLinkActive="active"  routerLink="tareas">Tareas</a>
      </li>
      <li class="nav-item nav-link">
        <a class="nav-link" routerLinkActive="active"  routerLink="contactos">Contactos</a>
      </li>
      <li class="nav-item nav-link">
        <a class="nav-link" routerLinkActive="active"  routerLink="libros">Libros</a>
      </li>
      <li class="nav-item nav-link">
        <a class="nav-link" routerLinkActive="active"  routerLink="about">Acerca de</a>
      </li>
    </ul>
  </nav>
</div>